.mycourse-detail-container {
  display: flex;
  padding: 24px 100px;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  margin-top: 70px;
  width: 100vw;
  font-family: IBM Plex Sans Thai;
  font-weight: 400;
}

.mycourse-detail-container h1 {
  margin: 0;
  font-size: 24px;
  text-align: center;
  color: var(--primary-blue-main);
}

.mycourse-detail-section {
  display: flex;
  width: 100%;
  gap: 40px;
}

.mycourse-detail-info {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 10px;
}

.mycourse-detail-img {
  display: flex;
  width: 50%;
}

.mycourse-detail-section p {
  margin: 0;
  font-size: 18px;
}

.mycourse-detail-section span {
  font-weight: 700;
}

.mycourse-detail-link {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  text-align: center;
}

.mycourse-detail-qr {
  display: flex;
  width: 100%;
  justify-content: center;
}

.mycourse-detail-qr-container {
  width: 30%;
}

@media (max-width: 1200px) {
  .mycourse-detail-container {
    padding: 20px;
    margin-left: 80px;
  }

  .mycourse-detail-section {
    flex-direction: column;
  }

  .mycourse-detail-info {
    width: 100%;
  }

  .mycourse-detail-img {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .mycourse-detail-container {
    padding: 16px;
  }

  .mycourse-detail-link {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  .mycourse-detail-qr-container {
    width: 100%;
  }
}
