.news-container {
  display: flex;
  padding: 24px 100px;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  margin-top: 70px;
  overflow-x: hidden;
  width: 100vw;

  font-family: IBM Plex Sans Thai;
  font-weight: 400;
  font-size: 16px;
}

.news-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
}

.news-title h1 {
  font-size: 24px;
  color: var(--primary-blue-main);
  margin: 0;
}

.news-title button {
  background: var(--primary-blue-main);
  height: 30px;
  color: #fff;
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 22px 44px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: 0.3s;

  font-size: 18px;
  font-weight: 700;
  font-family: IBM Plex Sans Thai;
}

.news-title button:hover {
  background: var(--primary-blue-pressed);
  transform: scale(0.95);
}

.news-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.news-block {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: end;
  justify-content: center;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  color: #000;
  text-align: center;
  font-size: 15px;
  padding: 10px;
  gap: 10px;
}

.news-block img {
  width: 100%;
  border-radius: 10px;
}

.news-block button {
  background-color: var(--status-error);

  height: 30px;
  color: #fff;
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 22px 44px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: 0.3s;

  font-size: 18px;
  font-weight: 700;
  font-family: IBM Plex Sans Thai;
}

.news-block button:hover {
  transform: scale(0.95);
  background-color: var(--status-error-hover);
}

@media (max-width: 1200px) {
  .news-container {
    padding: 20px;
    margin-left: 80px;
  }
}

@media (max-width: 768px) {
  .news-container {
    padding: 16px;
  }

  .news-title {
    flex-direction: column;
    gap: 20px;
  }

  .news-title button {
    width: 100%;
  }

  .news-block button {
    width: 100%;
  }
}
