.alert-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.35);

  display: flex;
  justify-content: center;
  align-items: center;
}

.alert-popup-inner {
  position: relative;
  padding: 18px;
  gap: 18px;
  background-color: #fff;
  border: 1px solid var(--gray-line-border);
  border-radius: 16px;
  box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.title-alert {
  position: relative;
  color: var(--neutral-black-main);
  font-size: 24px;
  display: flex;
  gap: 12px;
}

.message-alert {
  color: #000;
  font-size: 20px;
  font-weight: 400;
  justify-content: center;
  align-items: center;
  position: relative;
}

.alert-btn {
  position: relative;
  display: flex;
  justify-content: end;
}

.alert-close {
  background-color: var(--primary-blue-main);
  color: #fff;
  border: none;
  font-family: IBM Plex Sans Thai, sans-serif;
  font-size: 16px;
  border-radius: 8px;
  width: 96px;
  height: 36px;
  cursor: pointer;
  transition: 0.3s;
}

.alert-close:hover {
  background-color: var(--primary-blue-pressed);
  transform: scale(0.95);
}

@media screen and (max-width: 768px) {
  .alert-popup {
    align-items: center;
    padding-bottom: 18px;
  }

  .alert-popup-inner {
    width: 80%;
    max-width: 320px;
  }
}
