/* .ant-layout-sider {
  width: 200px;
} */

.sidebar-title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px 20px;
}

.sidebar-logo {
  width: 40px;
  height: 51.714px;
}

.sidebar-title-text {
  display: flex;
  color: var(--primary-blue-main);
  font-size: 20px;
  font-weight: 700;
  font-family: "IBM Plex Sans Thai", "sans-serif";
  gap: -8px;
  flex-direction: column;
  justify-content: center;
}

.sidebar-title-text p {
  margin: 0px;
}

.ant-layout-sider-trigger {
  align-items: center;
  display: flex;
  justify-content: center;
}
