.change-status-container {
  display: flex;
  padding: 24px 100px;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  margin-top: 70px;
  width: 100vw;

  font-family: IBM Plex Sans Thai;
  font-weight: 400;
  font-size: 16px;
}

.change-status-section {
  display: flex;
  gap: 30px;
  width: 100%;
  justify-content: center;
}

.change-status-img-section {
  display: flex;
  width: 50%;
  justify-content: center;
}

.change-status-img-container {
  display: flex;
}

.change-status-text {
  display: flex;
  gap: 15px;
  flex-direction: column;
  width: 50%;
}

.change-status-text h1 {
  font-weight: 700px;
  font-size: 24px;
  color: var(--primary-blue-main);
  margin: 0;
}

.change-status-text p {
  margin: 0;
}

.change-status-text p span {
  font-weight: 700;
}

.select-container {
  margin-top: 20px;
}

.change-status-select-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.change-status-select-container label {
  font-weight: 700;
}

.custom-select {
  width: 50%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  font-family: IBM Plex Sans Thai;
  font-weight: 400;
  font-size: 14px;
}

.custom-select:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 2px 4px rgba(0, 123, 255, 0.3);
}

.custom-select option {
  font-size: 14px;
}

.change-status-note {
  color: var(--status-error);
}

.change-status-section button {
  background: var(--primary-blue-main);

  height: 40px;
  color: #fff;
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 11px 22px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: 0.3s;

  font-size: 20px;
  font-weight: 400;
  font-family: IBM Plex Sans Thai;
}

.change-status-section button:hover {
  background: var(--primary-blue-pressed);
  transform: scale(0.95);
}

@media (max-width: 1200px) {
  .change-status-container {
    padding: 20px;
    margin-left: 80px;
  }
}

@media (max-width: 768px) {
  .change-status-container {
    padding: 16px;
  }

  .change-status-img-section {
    width: 100%;
  }

  .change-status-section {
    flex-direction: column;
    align-items: center;
  }

  .change-status-text {
    width: 100%;
  }

  .change-status-text h1 {
    text-align: center;
  }

  .change-status-select-container {
    flex-direction: column;
  }

  .custom-select {
    width: 100%;
  }
}
