.topbar {
  position: fixed;
  width: 100vw;
  height: 72px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-blue-main);
  font-size: 24px;
  padding: 0px 48px;
}

.title {
  text-decoration: none;
  color: #fff;
}

.topUl {
  display: flex;
  list-style: none;
  font-weight: 400;
  padding: 0;
  gap: 8px;
  color: #fff;
}

.topUl a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
}

.topbarActive {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
}
