.wrapper-login {
  justify-content: center;
  align-items: center;
  display: flex;
  min-height: 100vh;
  min-width: 100vw;
  gap: 92px;
}

.img-login {
  height: auto;
  display: flex;
  margin: 0;
}

.form-login {
  display: flex;
  width: 400px;
  flex-direction: column;
  gap: 24px;
}

.header-memlogin {
  color: var(--primary-blue-main);
  font-size: 32px;
  margin: 0;
}

.header-adminlogin {
  color: var(--primary-blue-main);
  font-size: 32px;
  margin: 0;
  justify-content: center;
  display: flex;
}

.text-and-input {
  gap: 8px;
}

.text-login {
  color: var(--neutral-black-l);
  font-size: 24px;
  font-weight: 400;
  margin: 0;
}

.input-login {
  border: none;
  border-bottom: 1px solid var(--neutral-black-disable);
  padding: 0px 20px;
  width: 400px;
  font-family: IBM Plex Sans Thai;
  font-size: 24px;
  color: var(--neutral-black-main);
}

.input-login:focus {
  outline: none;
}

.btn-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.btn-login {
  background: var(--primary-blue-main);
  width: 100%;
  height: 40px;
  color: #fff;
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 22px 44px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: 0.3s;

  font-size: 24px;
  font-weight: 400;
  font-family: IBM Plex Sans Thai;
}

.btn-login:hover {
  background: var(--primary-blue-pressed);
  transform: scale(0.95);
}

.btn-register-link {
  background: #fff;
  justify-content: center;
  align-items: center;
  display: flex;
  text-decoration: none;
}

.btn-register {
  background: #fff;
  height: 40px;
  width: 100%;
  color: var(--primary-blue-main);
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 22px 44px;
  border-radius: 8px;
  border: 1px solid var(--primary-blue-main);
  cursor: pointer;
  transition: 0.3s;

  font-size: 24px;
  font-weight: 400;
  font-family: IBM Plex Sans Thai;
}

.btn-register:hover {
  background: var(--primary-blue-l3);
  transform: scale(0.95);
}

.validate-login {
  font-size: 18px;
  font-weight: 400;
  margin: 0;
  color: var(--status-error-active);
}

@media screen and (max-width: 768px) {
  .wrapper-login {
    flex-direction: column;
    gap: 24px;
    padding: 24px;
  }

  .img-login {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
  }

  .form-login {
    width: 100%;
  }

  .input-login {
    width: 100%;
  }

  .btn-login,
  .btn-register {
    width: 100%;
  }

  .header-memlogin {
    font-size: 24px;
  }

  .text-login {
    font-size: 20px;
  }

  .input-login {
    font-size: 20px;
    height: 30px;
  }

  .validate-login {
    font-size: 16px;
  }

  .img-login img {
    max-width: 100%;
    height: auto;
  }
}
