.navbar-container {
  display: flex;
  padding: 0px 36px;
  justify-content: space-between;
  align-items: center;
  height: 72px;
  border-bottom: 2px solid var(--gray-line-boarder);
}

.navbar-container a {
  font-size: 24px;
  color: var(--primary-blue-main);
  text-decoration: none;
}

.navbar-profile {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.navbar-name {
  color: var(--primary-blue-main);
  font-size: 20px;
  font-weight: 400;
}

.navbar-img {
  width: 40px;
  height: 51.714px;
}

.navbar-logo {
  display: flex;
  padding: 36px 0px;
  align-items: center;
  gap: 16px;
}

.navbar-logo a {
  font-size: 20px;
}

@media (max-width: 768px) {
  .navbar-container {
    padding: 0px 20px;
    position: fixed;
    background-color: white;
    width: 100vw;
  }

  .navbar-name {
    display: none;
  }
}
