.change-password-container {
  display: flex;
  padding: 24px 100px;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  margin-top: 70px;
  width: 100vw;

  font-family: IBM Plex Sans Thai;
  font-weight: 400;
}

.change-password-container h1 {
  margin: 0;
  font-size: 24px;
  color: var(--primary-blue-main);
}

.change-password-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.change-password-field {
  width: 50%;
  flex-direction: column;
  align-items: center;
}

.change-password-section p {
  margin: 0;
  font-size: 20px;
}

.change-password-section span {
  color: var(--status-error);
}

.change-password-input-container {
  display: flex;
  gap: 0px;
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid var(--primary-blue-l2);
  background-color: #fff;
}

.change-password-section input {
  font-family: IBM Plex Sans Thai;
  border: none;
  color: var(--primary-blue-l2);
  font-size: 14px;
  font-weight: 400;
  height: 100%;
  width: 100%;
}

.change-password-section input::placeholder {
  color: var(--primary-blue-l2);
}

.change-password-section input:focus {
  outline: none;
  border: none;
}

.change-password-btn-section {
  display: flex;
  width: 50%;
  gap: 20px;
}

.change-password-btn-section button {
  width: 50%;
  height: 50px;
  color: #fff;
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 11px 22px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: 0.3s;
  font-size: 20px;
  font-weight: 400;
  font-family: IBM Plex Sans Thai;
}

.change-password-btn-submit {
  background-color: var(--status-success);
}

.change-password-btn-submit:hover {
  background: var(--status-success-hover);
  transform: scale(0.95);
}

.change-password-btn-back {
  background-color: var(--primary-blue-main);
}

.change-password-btn-back:hover {
  background: var(--primary-blue-pressed);
  transform: scale(0.95);
}
