.reg-container {
  display: flex;
}

.reg-wrapper {
  display: flex;
  margin-top: 194px;
  width: 100vw;
  font-family: IBM Plex Sans Thai;
  font-weight: 400;
  font-size: 14px;
  align-items: center;
}

.reg-wrapper-2 {
  display: flex;
  width: 100%;
  gap: 92px;
  justify-content: center;
}

.reg-img {
  display: flex;
  width: 50%;
  justify-content: center;
}

.reg-section {
  display: flex;
  width: 400px;
  flex-direction: column;
  gap: 16px;
}

.reg-section h1 {
  color: var(--primary-blue-main);
  font-size: 32px;
  margin: 0;
}

.reg-section p {
  margin: 0;
}

.reg-name {
  display: flex;
  gap: 24px;
}

.reg-section input {
  height: 35px;
  border-radius: 8px;
  border: 1px solid var(--gray-gd, #aaa);
  opacity: 0.8;
  padding: 0px 8px;
  font-family: IBM Plex Sans Thai;
  font-size: 16px;
}

.reg-section button {
  background: var(--primary-blue-main);
  height: 40px;
  color: #fff;
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 22px 44px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: 0.3s;
  font-size: 24px;
  font-weight: 400;
  font-family: IBM Plex Sans Thai;
}

.reg-section button:hover {
  background: var(--primary-blue-pressed);
  transform: scale(0.95);
}

.reg-name input {
  width: 50%;
}

.reg-sex-bd {
  display: flex;
  gap: 24px;
}

.reg-sex-container {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.reg-sex-radio-container {
  display: flex;
  gap: 16px;
}

.reg-sex-radio {
  display: flex;
  align-items: center;
}

.reg-bd {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.reg-bd input {
  width: 100%;
}

@media (max-width: 1200px) {
  .reg-wrapper {
    margin-top: 80px;
  }

  .reg-wrapper-2 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }

  .reg-img {
    display: none;
  }

  .reg-section {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .reg-wrapper-2 {
    padding: 16px;
  }

  .reg-sex-bd {
    flex-direction: column;
  }

  .reg-sex-container {
    width: 100%;
  }

  .reg-bd {
    width: 100%;
  }
}
